@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,400&display=swap');

* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
}

body {
  background-color: #f6f7fb;
  margin: 0;
}