@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,400&display=swap');

:root {
  --primary-color: rgb(124, 26, 26);
  --secondary-color: rgb(30, 6, 30);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', 'san-serif';
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: #fff;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color:#a17ba1
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}